.form-cadastro{
    height: 80vh;
    width: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    border-radius: 10px;
    background-color: var(--cor-1);
}

.container-cadastro{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-0);
}

.titulo-cadastro{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.container-inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input-nome{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-senha{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-cnpj{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-botoes{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}


input{
    height: 35px;
    width: 480px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: large;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}