.container-reg{
    height: 100vh;
    /* gap: 10px; */
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    background-color: var(--cor-7);
}

.divisoria{
    height: 15px;
    background-color: var(--cor-7);
}

.container-reg-inv{
    height: 50vh;
    width: 89vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 100px; */
    background-color: var(--cor-1);
}

.coluna-inv1{
    /* gap: 10px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.coluna-inv2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-reg-mov{
    height: 50vh;
    width: 89vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor-1);
}

.coluna-mov1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.coluna-mov2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-reg-sec{
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    width: 10vw;
}

.input-reg-inv{
    width: 10vw;
}

.input-reg-mov{
    width: 10vw;
}

.btn-confirma-inv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    border: 0;
    color: var(--cor-1);
    background-color: var(--cor-8);
}

.btn-confirma-inv:hover{
    background-color: var(--cor-0);
}

.btn-confirma-mov{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    border: 0;
    color: var(--cor-1);
    background-color: var(--cor-8);
}

.btn-confirma-mov:hover{
    /* color: black; */
    background-color: var(--cor-0);
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/* .container-menu{
    height: 100%;
    width: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
     border: 1px solid black; 
    background-color: var(--cor-8);
} */