:root{
  --cor-1: #E3F2FD;
  --cor-2: #BBDEFB;
  --cor-3: #90CAF9;
  --cor-4: #64B5F6;
  --cor-5: #42A5F5;
  --cor-6: #2196F3;
  --cor-7: #1E88E5;
  --cor-8: #1976D2;
  --cor-9: #1565C0;
  --cor-0: #0D47A1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body, html{
  min-height: 100vh;
}